:root {
    --color1: #000000;
    --color2: #7a1d6b;
    --color3: #fff2fd;
    --color4: #d47bc1;
    --color5: #feffff;
}

.head {
    font-size: medium;
    text-align: center;
}

.title {
    font: Georgia;
    font-size: large;
}

.reg_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8cm;
    height: 11cm;
    background-color: rgb(235, 235, 235);
    border-radius: 9px;
    border-color: rgb(58, 58, 58);
    border-width: 3px;
    position: relative;
    margin: auto;
}

input {
    width: 6cm;
    height: 0.8cm;
    border-radius: 8px;
    border-width: 0.0001cm;
}

input::placeholder {
    font-size: medium;
    color: rgba(109, 108, 108, 0.774);
}

.button {
    color: var(--color5);
    background-color: var(--color4);
    border-color: white;
    border-radius: 9px;
    border-width: 0.001cm;
    width: 6.2cm;
    height: 0.9cm;
    font-size: 16px;
    font-weight: bold;
}

.button_home {
    color: var(--color1);
    background-color: var(--color4);
    border-color: white;
    border-radius: 9px;
    border-width: 0.001cm;
    width: 6.2cm;
    height: 0.9cm;
    font-size: 16px;
    font-weight: lighter;
}

.header_login {
    text-align: center;
    font-size: 18px;
}

.success {
    color: rgb(9, 255, 0);
    background-color: #e6ffe8;
    border: 1px solid rgb(9, 255, 0);
    padding: 10px;
}